@model AddLibroViewModel

@{
    ViewData["Title"] = "Add new book";
}

<h2>Aggiungi Libro</h2>
<form method="post" action="/Libri/Add">
    <label>Titolo:</label>
    <input type="text" asp-for="Titolo" required />

    <label>Autore:</label>
    <input type="text" asp-for="Autore" required />

    <label>Genere:</label>
    <input type="text" asp-for="Genere" required />

    <label>Descrizione:</label>
    <textarea asp-for="Descrizione"></textarea>

    <label>Prezzo:</label>
    <input type="number" asp-for="Prezzo" step="0.01" required />

    <button type="submit">Aggiungi</button>
</form>
<a href="/Libro">Torna alla lista</a>