@model EditLibroViewModel

@{
    ViewData["Title"] = "Edit book";
}

<form method="post" asp-controller="Product" asp-action="Edit">
    <div class="mb-3">
        <label for="titolo" class="form-label">Titolo</label>
        <input id="titolo" type="text" class="form-control" asp-for="Titolo" />
    </div>
    <div class="mb-3">
        <label for="autore" class="form-label">Autore</label>
        <input id="autore" type="text" class="form-control" asp-for="Autore" />
    </div>
    <div class="mb-3">
        <label for="genere" class="form-label">Genere</label>
        <input id="genere" type="text" class="form-control" asp-for="Genere" />
    </div>
    <div class="mb-3">
        <label for="descrizione" class="form-label">Descrizione</label>
        <textarea id="descrizione" class="form-control" asp-for="Descrizione"></textarea>
    </div>
    <div class="mb-3">
        <label for="prezzo" class="form-label">Price</label>
        <input id="prezzo" type="number" class="form-control" asp-for="Prezzo" />
    </div>
    <button>Save</button>
</form>